<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accounts Page</title>
</head>
<body>
    <h1>Accounts Page</h1>
    <!-- user's options -->
    <div>
        <h2>User Option</h2>
        <ul>
            <li><a href="createUser.html">Create New User</a></li>
            <li><a href="editUser.html">Edit Existing User</a></li>
            <li><a href="deleteUser.html">Delete Existing User</a></li>
            <li><a href="home.html">Back to Homepage</a></li>
        </ul>
    </div>
</body>
</html>
