<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/display_style.css' %}">
    <title>Title</title>
</head>
<body>
<h1 class="header">Course Information</h1>
<div class="container">
    <table>
        <tr>
            <td><h2>Course Name: {{ course.courseName }}</h2></td>
        </tr>
        <tr>
            <td><h2>Course Description: {{ course.courseDescription }}</h2></td>
        </tr>
    </table>
</div>
<h2>Sections: </h2>
<table id=user_table>
    {% csrf_token %}
    <tr>
        <th>Section ID</th>
        <th>Type</th>
        <th>TA</th>
        <th>Action</th>
    </tr>
    {% for s in sections %}
        <tr>
            <td>{{ s.sectionID }}</td>
            <td>{{ s.type }}</td>
            <td>{{ s.taID.userID }}</td>
            <td>
                <form action="{% url 'editSection' pk=s.sectionID %}" method="get">
                    {% csrf_token %}
                    <button type="submit" class="button">Edit Section</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% if role == 'Admin' %}
    <form action="{% url 'createSection' pk=course.courseID %}" method="get">
    <br><button type="submit" class="pageButton">Create Section</button>
</form>
{% endif %}
<h2>Assigned Users: </h2>
<table id=user_table>
    {% csrf_token %}
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
    </tr>
    {% for a in assignments %}
        <tr>
            <td>{{ a.userID.firstName }}</td>
            <td>{{ a.userID.lastName }}</td>
            <td>{{ a.userID.role }}</td>
        </tr>
    {% endfor %}
</table>
{% if role == 'Admin' %}
    <form action="{% url 'assignToCourse' pk=course.courseID %}" method="get">
    <br><button type="submit" class="pageButton">Assign users to course</button>
</form>
{% endif %}
<!-- This logic handles course page redirection based on the role of the user. -->
{% if role == 'Instructor' %}
    <br><a href="{% url 'instructorCoursePage' %}">Return to Courses</a>
{% else %}
    <br><a href="{% url 'courses' %}">Return to Courses</a>
{% endif %}
</body>
</html>