<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>

<h1>Courses</h1>
<a href="/createCourse/">Create new course</a>
<table>
    {% csrf_token %}

    <tr>
        <th>Name</th>
        <th>Semester</th>
        <th>description</th>
    </tr>
    {% for c in courses %}
    <tr>
        <td>{{c.courseName}}</td>
        <td>{{c.courseSemester}}</td>
        <td>{{c.courseDescription}}</td>
    </tr>
    <select name="Season">
    {% for i in seasons %}
        <option >{{i}}</option>
    {% endfor %}
    <input name="Year" type="number"/>
    </select>
    {% endfor %}

</table>

<a href="/home/">Home</a>

</body>
</html>