<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
</head>
<body>

<h1>Courses</h1>
<a href="/createCourse/">Create new course</a>
<table>
    {% csrf_token %}

    <tr>
        <th>Name</th>
        <th>Semester</th>
        <th>description</th>
    </tr>
    {% for c in courses %}
    <tr>
        <td>{{c.courseName}}</td>
        <td>{{c.courseSemester}}</td>
        <td>{{c.courseDescription}}</td>
        <td>
            <form action="{% url 'extendDeleteUser' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="courseID" value="{{ c.courseID }}">
                <button type="submit" class="button">Delete</button>
            </form>
        </td>
    </tr>

    <tr>
        <th>Season</th>
        <th>Year</th>
    </tr>
    <tr>
        <td>
            <select name="Season">
        </td>
        {% for i in seasons %}
            <option >{{i}}</option>
        {% endfor %}

        <td>
            <input name="Year" type="number"/>
        </td>
    </select>
    {% endfor %}
    </tr>
</table>

<a href="/home/">Home</a>

</body>
</html>