<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/create_user_style.css' %}">
    <title>Create Course</title>
</head>
<body>
<h1 class="header">Create Course</h1>
<div class="container">
<form action="/createCourse/" method="post" class="form">
{% csrf_token %}
    Name:
    <input name="Name" type="text"/>
    Semester:
    <select name="Semester" >
    {% for i in semester %}
        <option>{{i}}</option>
    {% endfor %}
    </select>
    Description:
    <input name="Description" type="text"/>
    <input type="submit"/>

</form>
</div>
<h1>{{errorMessage}}</h1>
<br/><a href="/manageCourse/">Manage Courses</a>
</body>
</html>