<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
</head>
<body>
<h1>Create Course</h1>

<form action="/createCourse/" method="post">
{% csrf_token %}
    Name:
    <input name="Name" type="text"/>
    Semester:
    <select name="Semester" >
    {% for i in semester %}
        <option>{{i}}</option>
    {% endfor %}
    </select>
    Description:
    <input name="Description" type="text"/>
    <input type="submit"/>

</form>
<h1>{{errorMessage}}</h1>
<br/><a href="/courses/">Courses</a>
</body>
</html>