<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/create_user_style.css' %}">
    <title>Create Course</title>
</head>
<body>
<h1 class="header">Create Course</h1>
<div class="container">
<table>
<form action="/createCourse/" method="post" class="form">
{% csrf_token %}
    <tr>
        <th>Name</th>
        <th>Semester</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>
            <input name="Name" type="text"/>
        </td>
        <td>
            <select name="Semester" >
            {% for i in semester %}
                <option>{{i}}</option>
            {% endfor %}
            </select>
        </td>
        <td>
            <input name="Description" type="text"/>
        </td>

        <td><button type="submit" class="button">Create</button></td>
    </tr>
</form>
</table>
</div>
<h2>{{errorMessage}}</h2>

<div class = "container">
<table>


    <h2 class="tableHeader" >Create New Semester</h2>

    <tr>
        <th>Season</th>
        <th>Year</th>
    </tr>
    <tr>
        <form action="/courses/" method="post">
        {% csrf_token %}
            <td>
                <select name="Season">
                    {% for i in seasons %}
                        <option >{{i.1}}</option>
                    {% endfor %}
                 </select>
            </td>
            <td>
                <input name="Year" type="number"/>
            </td>

            <td><button type="submit" class="button">Create</button></td>
        </form>`
    </tr>
</table>
</div>
<h2>{{ semErrorMessage }}</h2>
<br/><a href="/manageCourse/">Manage Courses</a>
</body>
</html>