<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/create_user_style.css' %}">
    <title>Create Section</title>
</head>
<body>
<h1 class="header">Create Section</h1>
<div class="container">
<form action="{% url 'createSection' pk=course.courseID %}"  method="post" class="form">
{% csrf_token %}
<table>
    <tr>
        <th>SectionID</th>
        <th>Type</th>
        <th>User</th>
    </tr>
    <tr>
        <td>
            <input name="Name" type="text"/>
        </td>
        <td>
            <select name="type">
                {% for type in types %}
                    <option value="{{ type.0 }}">{{ type.1 }}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="TA">
                {% for i in taID %}
                    <option>{{i}}</option>
                {% endfor %}
            </select>
        </td>
        <td> <button type="submit" class="button">Create</button> </td>
    </tr>
</table>
</form>
</div>
<h1>{{errorMessage}}</h1>
<br/><a href="{% url 'courseDisplay' pk=course.courseID %}">Course Display</a>
</body>
</html>
