<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/create_user_style.css' %}">
    <title>Edit Section</title>
</head>
<body>
    <h1 class="header">Edit Section</h1>
    <div  style="display: flex;" >
        <div style="flex: 1;" class = container>
            <h2>Existing Section Information</h2>
            <table>
                <tr>
                    <th>Section ID:</th>
                    <td>{{ section.sectionID }}</td>
                </tr>
                <tr>
                    <th>Type:</th>
                    <td>{{ section.type }}</td>
                </tr>
                <tr>
                    <th>Course:</th>
                    <td>{{ course.courseName }}</td>
                </tr>
                <tr>
                    <th>TA:</th>
                    <td>{{ section.taID }}</td>
                </tr>
            </table>
        </div>
        <div style="flex: 1;" class = container>
            <h2>Edit Section Information</h2>
            <form method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <th>
                            <label for="type">Type:</label><br>
                        </th>
                        <td>
                            <select name="type">
                                {% for type in types %}
                                    <option value="{{ type.0 }}">{{ type.1 }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="taID">TA:</label><br>
                        </th>
                        <td>
                            <select name="taID">
                                {% for i in taID %}
                                    <option>{{i.userID}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Save Changes" class = button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    {{message}}<br/>
    <a href="{% url 'courseDisplay' pk=course.courseID %}">Return to Course Display</a>
</body>
</html>
