<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
    <title>Homepage</title>
</head>
<body>
<h1 class="homepage_header">Homepage</h1>
<a href="{% url 'logout' %}" class="logout_button">Logout</a><hr/>
<div class="format-image"><img src="{% static 'images/UWM.png' %}" alt="UWM Logo"></div>
<a href="{% url 'courses' %}" class="courses_button">Manage Courses</a><br>
<a href="{% url 'manageUser' %}" class="users_button">Manage Users</a><br>
</body>
</html>