<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
    <title>Homepage</title>
</head>
<body>
<h1 class="homepage_header">Homepage</h1>
<button onclick="location.href = 'logout';" class="logout_button">Log out</button>
<hr/>
<div class="format-image"><img src="{% static 'images/UWM.png' %}" alt="UWM Logo"></div>
<button onclick="location.href = 'Courses.html';" class="courses_button">Manage Courses</button>
<button onclick="location.href = '.html';" class="users_button">Manage Users</button>
</body>
</html>