<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
    <title>Login</title>
</head>
<body class="montserrat-text-font">
<h1 class="center" style="color: black">TA Scheduler</h1>
<hr/>
<h2 class="center">Login</h2>
<div class="container">
    <form action="{% url 'login' %}" method="post" class="form">
        {% csrf_token %}
        <!--
        These labels are for visual purposes only.
        As the project progresses, the approach is to replace
        these fields with the character fields found in the models.
        -->

        <label for="username">Username:</label>
        &nbsp;<input name="userID" type="text" id="username"><br><br>
        <label for="password">Password:</label>
        &nbsp;&nbsp;<input name="password" type="password" id="password"/><br><br>
        <button type="submit" class="button">Sign In</button>
        {% if error_message %}
            <div class="error">{{ error_message }}</div>
        {% endif %}
    </form>
</div>
</body>
</html>