<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/delete_user_style.css' %}">
</head>
<body>
<h1>Edit Contact Information</h1>
<hr/>
<h3>Basic Information</h3>
<form method="post">
    {% csrf_token %}
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value="{{ user.userID }}"><br>
    <label for="firstName">First Name:</label><br>
    <input type="text" id="firstName" name="firstName" value="{{ user.firstName }}"><br>
    <label for="lastName">Last Name:</label><br>
    <input type="text" id="lastName" name="lastName" value="{{ user.lastName }}"><br>
    <label for="phoneNumber">Phone:</label><br>
    <input type="text" id="phoneNumber" name="phoneNumber" value="{{ user.phone }}"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" value="{{ user.email }}"><br>
    <label for="address">Address:</label><br>
    <input type="text" id="address" name="address" value="{{ user.address }}"><br>
    <br><input type="submit" value="Save"><br>
    {% if confirmation_message %}
        {{ confirmation_message }}
    {% endif %}
    <br><a href="{% url 'instructor_home' %}">Return to Homepage</a>
</form>
</body>
</html>