<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/display_style.css' %}">
    <title>Title</title>
</head>
<body>
    <h1 class = "header">User Information</h1>
    <div class = "container">
        <table>
            <tr><td><h2>Username: {{ user.userID }}</h2></td></tr>
            <tr><td><h2>First Name: {{ user.firstName }}</h2></td></tr>
            <tr><td><h2>Last Name: {{ user.lastName }}</h2></td></tr>
            <tr><td><h2>Email: {{ user.email }}</h2></td></tr>
            <tr><td><h2>Phone Number: {{ user.phone }}</h2></td></tr>
            <tr><td><h2>Address: {{ user.address }}</h2></td></tr>
        </table>
    </div>
    <h2>Assigned Courses: </h2>
    <table id = user_table>
        {% csrf_token %}
        <tr>
            <th>Name</th>
            <th>Semester</th>
            <th>Description</th>
        </tr>
        {% for a in assignments %}
        <tr>
            <td>{{a.courseID.courseName}}</td>
            <td>{{a.courseID.courseSemester}}</td>
            <td>{{a.courseID.courseDescription}}</td>
        </tr>
        {% endfor %}


    </table>

    <h2>Assigned Sections: </h2>
    <table id = user_table>
        {% csrf_token %}
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Course</th>
        </tr>
        {% for s in sections %}
        <tr>
            <td>{{s.sectionID}}</td>
            <td>{{s.type}}</td>
            <td>{{s.course}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/deleteUser/">Return to users</a>
</body>
</html>
