<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/delete_user_style.css' %}">
    <title>Courses</title>
</head>
<body>
<h1 class="header">Courses</h1>
<table id="user_table">
    {% csrf_token %}
    <tr>
        <th>Name</th>
        <th>Semester</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    {% for c in courses %}
        <tr>
            <td>{{ c.courseName }}</td>
            <td>{{ c.courseSemester }}</td>
            <td>{{ c.courseDescription }}</td>
            <td>
                <form action="{% url 'courseDisplay' pk=c.courseID %}" method="get">
                    <button type="submit" class="pageButton">View Page</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
<a href="{% url 'instructor_home' %}">Back to Homepage</a>
</body>
</html>